<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"0>
        <!--for syntax highlighting-->
        <script src="http://yandex.st/highlightjs/5.16/highlight.min.js"></script>
        <link rel="stylesheet" href="http://yandex.st/highlightjs/5.16/styles/github.min.css">
        <script type="text/javascript" charset="utf-8">
            hljs.initHighlightingOnLoad();
        </script>

        <title>Examen 3</title>
        
    </head>
    <body>
        <%- body %>    
    </body>
</html>

